# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# LaTeX auxiliaries
manuscript/*.aux
manuscript/*.bbl
manuscript/*.blg
manuscript/*.log
manuscript/*.out
manuscript/*.synctex.gz

